body{
    font-family: Arial, sans-serif;
}
#head{
    font-size: 70px;
    align-items: center;
    color: rgb(237, 61, 61);
}
#bodyGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30px;
}

#choices button{
    font-size: 7rem;
    padding: 10px;
    background-color: rgb(100, 213, 153);
    color: black;
    border-radius: 100px;
    margin: 0px 30px;
}

#Results{
    margin-top: 40px;
}
.datas{
    font-size: 2rem;
    margin-top: 10px;
    font-weight: bold;
    padding: 5px;
}
#currentplayer{
    color: blue;
    font-size: larger;
}
#currentcomputer{
    color: blue;
    font-size: larger;
}

.youwin{
    margin-left: 10px;
    font-size: 60px;
    color: #50e550;
}

.youlose{
    margin-left: 10px;
    font-size: 60px;
    color: #e71a1a;
}

.youtie{
    margin-left: 10px;
    font-size: 60px;
    color: #e55050;
}